* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  backdrop-filter: blur(8px);
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(242, 242, 242, 0.372);
  height: 5rem;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.navbar button {
  font-size: medium;
}

.navbar h1 {
  margin-left: 1rem;
  flex: 1;
}

.navbar h1,
.nav-links {
  width: 50%;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-right: 1rem;
}

.btn {
  padding: 0.3rem 1rem;
}

button {
  border: none;
  background-color: transparent;
}

.btn-3 {
  border: solid black 3px;
  transition: 0.3s;
}

.btn-3:hover {
  background-color: black;
  color: white;
}

.p-btn {
  padding: 0.5rem;
  margin-top: 0.7rem;
  border: 2px solid black;
  background-color: black;
  color: white;
  border-radius: 1rem;
}

.container {
  scroll-snap-type: y mandatory;
  padding-top: 3rem;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

.first-block {
  display: flex;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
  margin: 5rem 1rem;
}

.content-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  margin-left: 2rem;
}

.img {
  flex: 1;
  float: right;
  height: min-content;
  display: flex;
  justify-content: center;
}

.main-img {
  border-radius: 3rem;
}

.element,
.heading,
.text-main {
  padding: 1rem;
}

.skills {
  height: fit-content;
  margin: 6rem 1rem;
  padding-top: 6rem;
}

.second-block {
  display: flex;
  justify-content: space-evenly;
  padding: 5rem 0rem;
}

.skills h2,
.skills h3,
.project-section h2 {
  text-align: center;
}

.tech label {
  display: block;
  text-align: center;
  margin-top: 5px;
}

.tech img {
  height: 90px;
  object-fit: contain;
  width: 90px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 12%;
  text-align: center;
  height: fit-content;
  padding: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px #00000027;
  transition: 0.7s;
}

.card:hover,
.pro:hover {
  box-shadow: 10px 10px 40px #00000027;
}

.pros {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.pro {
  width: 30%;
  padding: 0.3rem;
  height: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px #00000027;
  transition: 0.7s;
}

.pro:hover {
}

.pro-body {
  margin: 1rem;
}

ul {
  list-style-type: none;
}

.pro-img {
  width: 100%;
  border-radius: 0.8rem;
}

footer {
  padding: 3rem;
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  scale: 1.2;
}

.email {
  padding: 1rem;
}

.email i {
  scale: 1.7;
}
*/ .email button {
  background-color: black;
  padding: 1rem;
  border-radius: 3rem;
  color: white;
  height: 3rem;
}

::-webkit-scrollbar {
  width: 0px;
}

.foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 15px #00000027;
  padding: 15px 10px;
  border-radius: 5em;
  scale: 0.7;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.5s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}

.facebook {
  background-color: #3b5998;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #3b5998;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}

@media (max-width: 784px) {
  .navbar {
    height: 3rem;

  }

  .nav-links {
    display: none;
  }
  .btn {
    padding: 0.5rem;
  }

  .first-block {
    flex-direction: column;
    margin-top: 2rem;
  }

  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 30%;
    margin: 2rem;
  }

  .main-img {
    width: 70%;
  }
  .skills {
    padding: 0;
  }

  .pros {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: max-content;
  }

  .pro {
    width: 70%;
    padding: 0.3rem;
    margin: 2rem;
  }

  .second-block {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tech {
    margin-bottom: 1.5rem;
  }
  .navbar h1 {
    font-size: large;
  }

  .project-section {
    height: max-content;
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
    scale: 2;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    scale: 1;
  }
}

.slide-in {
  animation: slideIn 1.2s ease forwards;
}
